.navbar {
    background-color: darkred;
}



.navbar__titulo {
    font-family: 'Pacifico', cursive;
    color: wheat;
    padding-top: 0.3em;
}

.botonDropdown {
    font-family: 'Roboto', sans-serif;
    color: wheat;
}