@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Varela+Round&display=swap');



#home__container {
    display: flex;
    justify-content: center;
    size: 19em;
    background-color: rgb(243, 235, 235);
    

}



#home__titles {

    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column ;
    margin: 3em;
    background-image: url("/public/assets/fondo-fideos.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.5em;
    border: solid black 1px;


}




.home__title {

    font-family: 'Varela Round', sans-serif;
    margin: 2em;
    font-size: 2.5em;

}


#home__inner__title:hover {

color: rgb(255, 147, 6);
transition: 0.4s;


}